# apps/
# packages/
node_modules/
dist/
build/
.turbo/
.expo/
.next/
ios/build/
android/build/
android/app/build/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.tsbuildinfo
